@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-gray-100;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

.gradient-text {
  @apply bg-gradient-to-r from-accent-400 to-accent-600 bg-clip-text text-transparent;
}

.prose-dark {
  --tw-prose-body: theme('colors.gray.300');
  --tw-prose-headings: theme('colors.white');
  --tw-prose-links: theme('colors.primary.400');
  --tw-prose-bold: theme('colors.white');
  --tw-prose-quotes: theme('colors.gray.400');
  --tw-prose-quote-borders: theme('colors.accent.500');
  --tw-prose-code: theme('colors.primary.300');
  --tw-prose-pre-bg: theme('colors.slate.800');
}
